
<div>

    <div class="row">

        <div class="row">
            <h3>Фильтры</h3>
        </div>

        <div>
            <form id="FilterProductDataForm" asp-action="FilterProductFullData" asp-controller="Product" method="get" enctype="multipart/form-data">

                <div class="modal-body">

                    <div class="row" hidden="hidden">
                        <div class="col-md-12">
                            <label for="title" class="form-label">Название</label>
                            <input id="title" name="title" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <label for="minPrice" class="form-label">Мин. Цена</label>
                            <input id="minPrice" name="minPrice" type="number" class="form-control">
                        </div>
                        <div class="col-md-5">
                            <label for="maxPrice" class="form-label">Макс. Цена</label>
                            <input id="maxPrice" name="maxPrice" type="number" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="minDate" class="form-label">Мин. Дата</label>
                            <input id="minDate" name="minDate" type="date" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for="maxDate" class="form-label">Макс. Дата</label>
                            <input id="maxDate" name="maxDate" type="date" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success relative" id="btnFilterSubmit" type="submit">Поиск</button>
                </div>

            </form>
        </div>


    </div>

    <div id="ProductFullDataTablePlace" class="row">
        @await Html.PartialAsync("_ProductFullDataTable")
    </div>
</div>
