@model List<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                @if (role.Name == "admin" || role.Name == "user")
                {
                    <h5>Базовая роль</h5>
                }
                else
                {
                    <form asp-action="Delete" asp-controller="Roles" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                }
            </td>
        </tr>
    }
</table>
<a asp-action="Create" asp-controller="Roles">Добавить роль</a>
<a asp-action="UserList" asp-controller="Roles">Список пользователей</a>
