@model ModalProductViewModel

<div class="modal-content">

    <div class="modal-header">
        <h4 class="modal-title">Товар</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>

    <form id="CreateEditProductForm" asp-action="CreateEdit" asp-controller="Product" method="post" enctype="multipart/form-data"
          data-action-type="@Model.ActionType.ToString()" data-is-empty-catalog="@Model.IsEmptyCatalog">

        <div class="modal-body form-horizontal">

            <input asp-for="ProductDTO.Id" id="Id" name="Id" type="hidden" class="form-control" />
            <input asp-for="ProductDTO.IsActive" id="IsActive" name="IsActive" type="hidden" class="form-control" />

            <div class="form-group row">
                <label asp-for="ProductDTO.Title" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ProductDTO.Title" id="Title" name="Title" placeholder="Название товара" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ProductDTO.Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="ProductDTO.Description" id="Description" name="Description" class="form-control" placeholder="Описание товара"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="ProductDTO.Price" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="ProductDTO.Price" id="Price" name="Price" class="form-control" placeholder="Цена товара"></textarea>
                </div>
            </div>

            @if (Model.ActionType == TIA.WebApp.Extentions.ActionTypeEnum.Add)
            {
                <input asp-for="ProductDTO.ParentCatalogId" id="ParentCatalogId" name="ParentCatalogId" type="hidden" class="form-control" />
            }
            else
            {
                <div class="form-group row">
                    <label asp-for="ProductDTO.ParentCatalogId" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="ProductDTO.ParentCatalogId" id="ParentCatalogId" name="ParentCatalogId" placeholder="Родительский каталог" class="form-control">
                            @foreach (CatalogDTO catalogDTO in Model.CatalogList)
                            {
                                <option value="@catalogDTO.Id">@catalogDTO.Title</option>
                            }
                        </select>
                    </div>
                </div>
            }



        </div>
      
        <div class="modal-footer">
            <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button">Отмена</button>
            <button class="btn btn-success relative" id="btnSubmit" type="submit">
                <i class="loader"></i>
                Сохранить
            </button>
        </div>

    </form>

</div>


