@model IEnumerable<CatalogDTO>

<ul>
    @foreach (CatalogDTO catalogDTO in Model)
    {
        <li id="@catalogDTO.Id">
            <span>
                <a asp-controller="Catalog" asp-action="GetById" asp-route-id="@catalogDTO.Id">@catalogDTO.Title</a>
            </span>
       
        </li>

        if (catalogDTO.Catalogs.Any())
            @Html.Partial("_TreeNode", catalogDTO.Catalogs);
    }
</ul>