<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Подтверждение действия</h4>
    </div>
    <div class="modal-body">
        <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button">Нет</button>
        <button class="btn btn-success relative" id="btnSubmit" type="submit">Да</button>
    </div>
</div>
