@{ 
    Layout = "~/Views/Shared/_CatalogLayout.cshtml";
}

<div>
    <h1> Главная страница каталогов </h1>
    @if (User.IsInRole("admin"))
    {
        <a class="btn btn-primary popup" asp-controller="Catalog" asp-action="CatalogTable">Открыть таблицу каталогов</a>
    }
</div>