@model CatalogDTO
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_CatalogLayout.cshtml";
}

<div id="DataPage">

    <div id="DataPlace">
        @await Html.PartialAsync("_TableView", Model)
    </div>

    @await Html.PartialAsync("_YesNoDialog", "Product");

</div>

